footer {
    background-color: #000;
    min-height: 247px;
    color: #FFF;
    position: relative;
    padding: 40px 10px;

    h2 {
        text-align: center;
        font-size: 1.6rem;
        margin: 0 0 15px 0;
    }

    a.share-fb {
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto 40px auto;
        text-indent: -9999px;
        background: url(../assets/images/common/icon-fb.svg) no-repeat;
        background-size: 100% auto;
    }

    p.copyright {
        font-family: $font-stack-lato;
        font-size: 1.6rem;
        color: #BABABA;
        text-align: center;
    }
}