doctype html
html
    head
        block title
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1.0, initial-scale=1, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(property="og:site_name" content=`${ogSiteName}`)
        meta(property="og:type" content="website")
        link(rel="icon" href="assets/images/favicon.ico")
        block meta
        block css
        script#common
        script(src="js/yui-min.js")
        script(src="//maps.google.com/maps/api/js?key=AIzaSyC09W29TErfkzn48v9VkDEFgBjmT4se4D4")
        script(src="js/v3_epoly.js")
        script(src="js/bee.js")

    body
        include modules/header/header.pug
        main.main(class=(pageClass)?pageClass:false)
            block content
        include modules/footer/footer.pug