extends /layout.pug
block meta
    title !{pageTitle}
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=`${ogDesc}`)
    meta(property="og:url" content=`${ogUrl}`)
    meta(property="og:image" content=`${ogImg}`)
block content
    section
        a.sectionLink.map(href="javascript:void(0);") 探索最近的 DIOR MEN 精品店
        div.container
            div.locationSelector
                div
                    a(href="javascript:void(0);" data-position="Shop 216-217, Times Square, 1 Matheson Street, Causeway Bay, Hong Kong") Dior Homme - Hong Kong Times Square
                    a(href="javascript:void(0);" data-position="Shop B57-B58 & B66-B67, The Landmark, Central, Hong Kong" class="default") Dior Homme - Hong Kong Landmark
                    a(href="javascript:void(0);" data-position="Shop B101 & B102, 1 Peking Road, Tsim Sha Tsui , Kowloon , Hong Kong") Dior Homme - Hong Kong Peking Road
                    a(href="javascript:void(0);" data-position="Elements, 1 Austin Road West, Kowloon, Hong Kong") Dior Homme - Hong Kong Elements
                    a(href="javascript:void(0);" data-position="Shop 105 & 211, Ocean Centre, 5 Canton Road, Tsim Sha Tsui, Kowloon, Hong Kong") Dior Homme - Hong Kong Harbour City
            div#map

    section
        a.sectionLink.poster(href="javascript:void(0);") 2019 夏季系列
        div.container
            div.poster-container
                a(href="https://www.dior.com/zh_tw/%E7%94%B7%E5%A3%AB/2019%E5%A4%8F%E5%AD%A3%E7%B3%BB%E5%88%97" target="_blank")
                    img(src="assets/images/poster-ss19.jpg")
                h1 2019 夏季系列
        div#animatedBee