@import "../../styles/_config.scss";
@import "../../styles/mixin.scss";

main {
    
}

section {
    width: 100%;

    a.sectionLink {
        display: block;
        width: 100%;
        font-size: 1.3rem;
        padding: 15px 15px;
        color: #FFF;
        background: #000;
        border-bottom: 1px solid #9F9598;
        position: relative;
        @include transition(all 0.5s);

        &:before {
            content: "";
            width: 19px;
            height: 1px;
            background: #FFF;
            position: absolute;
            right: 20px;
            top: 25px;
            @include transition(all 0.5s);
        }
        &:after {
            content: "";
            width: 1px;
            height: 19px;
            background: #FFF;
            position: absolute;
            right: 29px;
            top: 17px;
            @include transition(all 0.5s);
        }

        &.active {
            color: #000;
            background: $bg-color;

            &:before {
                background: #000;
            }

            &:after {
                background: #000;
                opacity: 0;
                @include transform(rotate(90deg));
            }
        }

        @media (min-width: $big-breakpoint) {
            &:hover {
                color: #000;
                background: $bg-color;

                &:before {
                    background: #000;
                }

                &:after {
                    background: #000;
                }
            }
        }
    }

    div.container {
        width: 100%;
        overflow: hidden;
        position: relative;

        div.poster-container {
            width: 80%;
            max-width: 297px;
            margin: 0 auto;
            padding: 30px 0;

            img {
                width: 100%;
                height: auto;
                display: block;
                margin: 0 0 10px 0;
            }

            h1 {
                font-family: $font-stack-lato;
                font-size: 2.0rem;
                color: #000;
                line-height: 1.5;
            }
        }
    }

    &:nth-child(2) div.container {
        display: none;
    }

    .locationSelector {
        position: absolute;
        left: 0;
        top: 0;
        padding: 15px 15px 5px 15px;
        z-index: 10;
        width: 100%;
        overflow: auto;
        height: 82px;
        -webkit-overflow-scrolling: touch;

        &>div {
           width: 1410px;
        }

        a {
            display: inline-block;
            background: #FFF;
            border: 1px solid #E6E6E6;
            padding: 15px 10px 15px 42px;
            width: 262px;
            font-size: 1.3rem;
            font-family: $font-stack-arial;
            line-height: 1.7;
            color: #555555;
            position: relative;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            margin-right: 20px;

            &:before {
                content: '';
                width: 22px;
                height: 22px;
                position: absolute;
                left: 10px;
                top: 15px;
                background: url(../assets/images/common/icon-dior.png) no-repeat;
                background-size: 100% auto;
            }
        }
    }
}

#map_canvas {
    width: 100%;
    height: 100%;
}

#animatedBee {
    position: absolute;
    left: 75px;
    top: -70px;
    z-index: 1000;
    background: url(../assets/images/bee-flying.png) no-repeat;
    background-size: 100% auto;
    width: 70px;
    height: 65px;
    visibility: hidden;
}