//BreakPoints
$big-breakpoint-min: 1024px;
$huge-breakpoint: 1580px;
$large-breakpoint: 1440px;
$big-breakpoint: 1023px;
$medium-breakpoint: 767px;
$small-breakpoint: 414px;
$tiny-breakpoint: 374px;
$max-width: 1300px;
$top-nav-breakpoint: 1400px;
$font-stack: 'gothic', Arial, sans-serif, Verdana, Helvetica, "Microsoft JhengHei", "Heiti TC";
$font-stack-lato: 'Lato', Arial, sans-serif, Verdana, Helvetica, "Microsoft JhengHei", "Heiti TC";
$font-stack-arial: Arial, sans-serif, Verdana, Helvetica, "Microsoft JhengHei", "Heiti TC";
$primary-color:#000;
$primary-size: 1.4rem;
$primary-line-height: 1.8;
$primary-line-height-mobile: 1.8;
$highlight-color:#FAE5EB;
$bg-color:#FAE5EB;