@font-face {
	font-family: 'gothic';
	src: url('../assets/fonts/gothic.eot');
	src: local('gothic'), url('../assets/fonts/gothic.woff') format('woff'), url('../assets/fonts/gothic.ttf') format('truetype');
}
@font-face {
	font-family: 'Lato';
	src: url('../assets/fonts/Lato-Regular.eot');
	src: local('Lato-Regular'), url('../assets/fonts/Lato-Regular.woff') format('woff'), url('../assets/fonts/Lato-Regular.ttf') format('truetype');
}

html, 
body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    font-size: 62.5%;
    color: $primary-color;
    line-height: $primary-line-height;
	background-color: $bg-color;
	@media (max-width: $big-breakpoint) {
		line-height: $primary-line-height-mobile;
	}
}
html, body, input {
	font-family:$font-stack;
}
input {
    font-size: 1.8rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color:#999;}
::-moz-placeholder { /* Firefox 19+ */ color:#999;}
:-ms-input-placeholder { /* IE 10+ */ color:#999;}
:-moz-placeholder { /* Firefox 18- */ color:#999;}

body {
    font-size: 1.8rem;
    margin: 60px 0 0 0;
    
	&:before {
		content:'desktop';
		display:none;
		@media (max-width: $big-breakpoint) {
			content:'mobile';
		}
	}
}