@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -ms-transition:     $transition;
    transition:         $transition;
}
@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    transform: $transforms;
}
@mixin animation($animation...) {
  -o-animation: $animation;
  -moz-animation: $animation;
  -webkit-animation: $animation;
  -ms-animation: $animation;
  animation: $animation;
}
@mixin break-point($alias, $dp){
	@if(type-of($dp) == number){
		@include break-point($alias, 'max-width' $dp){
			@content;
		}
	}@else  if(type-of($dp) == list){
		@media (nth($dp, 1):nth($dp, 2)){
			@if($alias != null and $alias != ""){
				body:after{
					content:$alias;
					display:none;
				}
			}
			$media-type:$alias !global;
			@content;
			$media-type:'' !global;
		}
	}
}
@mixin linear-gradient($direction, $color-stops...) {
	@if is-direction($direction) == false {
		$color-stops: $direction, $color-stops;
		$direction: 180deg;
	}
	background: nth(nth($color-stops, 1), 1);
	background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
	background: linear-gradient($direction, $color-stops);
}
@function legacy-direction($value) {
	@if is-direction($value) == false {
		@error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
	}
	$conversion-map: (
		to top          : bottom,
		to top right    : bottom left,
		to right top    : left bottom,
		to right        : left,
		to bottom right : top left,
		to right bottom : left top,
		to bottom       : top,
		to bottom left  : top right,
		to left bottom  : right top,
		to left         : right,
		to left top     : right bottom,
		to top left     : bottom right
	);
	@if map-has-key($conversion-map, $value) {
		@return map-get($conversion-map, $value);
	}
	@return 90deg - $value;
}
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
      	@content;
    }
  }
@mixin placeholder {
	@include optional-at-root('::-webkit-input-placeholder') {
		@content;
	}
	@include optional-at-root(':-moz-placeholder') {
		@content;
	}
	@include optional-at-root('::-moz-placeholder') {
		@content;
	}
	@include optional-at-root(':-ms-input-placeholder') {
		@content;
	}
}
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}
@mixin add-bevel($color:#fff)
{
    box-shadow: 0 1px 2px $color, 0 1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 4px 1px rgba(255,255,255,.2);
    -moz-box-shadow: 0 1px 2px $color, 0 1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 4px 1px rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 2px $color, 0 1px 1px #666, inset 0 -1px 1px rgba(0,0,0,0.5), inset 0 4px 1px rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 2px $color, 0 1px 1px #666, inset 0 0px 1px rgba(0,0,0,.5), inset 0 4px 1px rgba(255,255,255,.2);
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow:inset $top $left $blur $color;
		-moz-box-shadow:inset $top $left $blur $color;
		box-shadow:inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}

@mixin hide-but-read() {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(0px 0px 99.9% 99.9%);
	clip-path: inset(0px 0px 99.9% 99.9%);
	overflow: hidden;
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
	top: 50%;
}

@mixin v-middle() {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin section-color($name, $color, $hover-color, $subtitle-bg-color) {
	.section-color-#{$name} {
		&.slider-item {
			background-color: $color;
		}
		&.feature-article {
			background-color: $color;
			&.text-only {
				.tag {
					background-color: $color;
				}
			}
			.banner-subtitle {
				background-color: $subtitle-bg-color;
			}
		}
		&.main-title,
		&.article,
		&.feature-article {
			.tag {
				background-color: $color;
			}
		}
		&.article {
			h3 {
				a {
					background-image: linear-gradient(0deg, $hover-color 0%, $hover-color 100%);
				}
			}
			.date {
				color: $color;
			}
		}
		&.filter-tags {
			li {
				.all,
				label {
					&:hover {
						background-color: $color;
					}
					&.active {
						background-color: $color;
					}
				}
				input[type=checkbox] {
					&:checked+label {
						background-color: $color;
					}
				}
			}
		}
		&.full-width {
			background-color: $color;
		}
		.tag {
			background-color: $color;
		}
	}
}

@mixin slider-line-arrow-button() {
	.slick-prev, 
	.slick-next {
		background: transparent;
		width: 30px;
		height: 44px;
		&:before,
		&:after {
			width: 30px;
			height: 2px;
			background: #CCC;
		}
		&:before {
			margin-top: -10px;
		}
		&:after {
			margin-top: 10px;
		}
		&.slick-disabled {
			opacity: 0;
		}
	}
	.slick-prev {
		left: -55px;
		&:before,
		&:after {
			left:0
		}
	}
	.slick-next {
		right: -55px;
		&:before,
		&:after {
			right:0
		}
	}
}

@mixin slider-dots-black() {
	.slick-dots {
		li {
			button {
				border-color: #000;
				&:before {
					background-color: #000;
				}
			}
		}
	}
}