html, body {margin:0; padding:0; border:0; -webkit-text-size-adjust:none;}
body {width:100%; min-width:320px; height:100%; font-weight:400;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure,figcaption {margin:0; padding:0; outline:0;}
a {text-decoration:none; cursor:pointer;}
table, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; vertical-align:top; }
table { border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal; }
ol, ul, li {list-style:none;}
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }
/*input, select, textarea {-webkit-appearance:none; -webkit-border-radius:0px;}*/
*,*:before,*:after{box-sizing:border-box;}
img {max-width:100%;}
p {margin:0; padding:0;}
a {text-decoration:none;}