header {
    height: 60px;
    background-color: $bg-color;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid #9F9598;

    .logo {
        width: 120px;
        height: 35px;
        background: url(../assets/images/common/logo.svg) no-repeat;
        background-size: 100% auto;
        margin: 17px auto 0 auto;
        position: relative;

        &:after {
            content: '';
            background: url(../assets/images/common/logo-bee.png) no-repeat;
            background-size: 100% auto;
            width: 27px;
            height: 27px;
            position: absolute;
            right: -12px;
            top: -7px;
        }
    }

    a.lang {
        position: absolute;
        top: 15px;
        right: 20px;
        border-bottom: 1.5px solid #000;
        width: 19px;
        font-family: $font-stack-lato;
        font-size: 1.5rem;
        color: #000;
        line-height: 1.5;
    }
}